<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Searchstayinn</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mainpage.css') }}"/>
   </head>
   <body>
      <div class="wrapper">
         <div class="title">
            Login Form
         </div>
         <div>
            <h3 class="field">Choose your account method</h3>

         </div>
        <form action="" method="post" class="field" >
           <div class="field">
            <a class="fcc-btn" href="/client_email">Seller</a>
         </div>
           <div class="field">
            <a class="fcc-btn"  href="/user_email">Buyer</a>
         </div>
        </form>
      </div>
   </body>
</html>

